#pageContainer.photographer-portfolio-page {
  display: block;
  max-width: 1300px;
  margin: auto;
  
  .pure-g.photographer-bio-section {
    width: 100%;
    background: #FFF;
    color: #000;
    
    .photographer-bio-photo {
      height: 300px;
      width: 300px;
      
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}